* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body, div, p, span, em, small, a, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

img {
    vertical-align: top;
}

body, input, select, button, textarea {
    color: rgb(0, 0, 0);
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "Noto Sans", "Apple SD Gothic Neo", "애플 SD 산돌고딕 Neo", AppleGothic, "New Roboto", Roboto, -apple-system, system, BlinkMacSystemFont, "SF UI Text", "SF Pro Text", BlinkMacSystemFont, "Nanum Gothic", "나눔 고딕", "Malgun Gothic", "맑은 고딕", Dotum, 돋움, Gullim, 굴림, "droid sans fallback", "Droid Sans", "Segoe UI", "helvetica neue", Tahoma, "Microsoft Sans Serif", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: -0.02em;
}

.btn, a.btn {
    display: inline-block;
    width: auto;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.btn.btn-font-400, a.btn.btn-font-400 {
    font-weight: 400;
}

.btn.btn-size-1, a.btn.btn-size-1 {
    height: 100%;
    padding: 0px 1.5rem;
    font-size: 1.8rem;
    line-height: 3rem;
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 300;
    src: local("※"),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/eot/NotoSansKR-Light-Hestia.eot),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/eot/NotoSansKR-Light-Hestia.eot?#iefix) format('embedded-opentype'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/woff/NotoSansKR-Light-Hestia.woff) format('woff'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/otf/NotoSansKR-Light-Hestia.otf) format('opentype');
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    src: local("※"),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/eot/NotoSansKR-Regular-Hestia.eot),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/eot/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/woff/NotoSansKR-Regular-Hestia.woff) format('woff'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/otf/NotoSansKR-Regular-Hestia.otf) format('opentype');
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 500;
    src: local("※"),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/eot/NotoSansKR-Medium-Hestia.eot),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/eot/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/woff/NotoSansKR-Medium-Hestia.woff) format('woff'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/otf/NotoSansKR-Medium-Hestia.otf) format('opentype');
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 700;
    src: local("※"),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/eot/NotoSansKR-Bold-Hestia.eot),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/eot/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/woff/NotoSansKR-Bold-Hestia.woff) format('woff'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/otf/NotoSansKR-Bold-Hestia.otf) format('opentype');
}

.btn, a.btn {
    display: inline-block;
    width: auto;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.btn.btn-font-400, a.btn.btn-font-400 {
    font-weight: 400;
}

.btn.btn-size-1, a.btn.btn-size-1 {
    height: 100%;
    padding: 0px 1.5rem;
    font-size: 1.8rem;
    line-height: 3rem;
}

html {
    line-height: 1.5;
    text-size-adjust: none;
    overflow: hidden;
    overflow-y: scroll;
}

.login {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    overflow: hidden;
    width: 400px;
    margin: 100px auto;
}

.header {
    width: auto;
    height: auto;
    padding: 5px 16px;
    background: #90BEEC;
    line-height: 40px;
    color: #ffc;
    overflow: hidden;
}

.branding {
    float: left;
}

.site-name {
    font-size: 18px;
    color: #f5dd5d;
    padding: 0;
    margin: 0 20px 0 0;
    font-weight: 300;
}

.site-name-big {
    font-size: 25px;
    color: #f5dd5d;
    padding: 0;
    margin: 0 20px 0 0;
    font-weight: 500;
}

.site-name a {
    color: #fff;
}

.site-name-big a {
    color: #fff;
}

.user-tools {
    float: right;
    padding: 0;
    margin: 0 0 0 20px;
    font-size: 11px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: right;
}

.content {
    padding: 20px 20px 0;
}

.content h1 {
    margin: 0 0 20px;
    font-weight: 300;
    font-size: 20px;
    color: #666;
}

.content-main {
    width: 100%;
    float: left;
}

form {
    margin: 0;
    padding: 0;
}

.form-row {
    padding: 4px 0;
    float: left;
    width: 100%;
    border-bottom: none;
}

.form-row label {
    line-height: 2em;
    font-size: 13px;
    clear: both;
    color: #333;
}

.form-row #id_username, .form-row #id_password {
    clear: both;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 0;
    margin: 2px 0;
    vertical-align: middle;
    font-weight: normal;
    font-size: 13px;

}

.submit-row {
    clear: both;
    padding-top: 1rem;
    border: none;
    background: none;
    text-align: center;
}

.submit-row input {
    background: #90BEEC;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    vertical-align: middle;
    font-weight: normal;
    font-size: 13px;
}

.clear {
    clear: both;
}

.footer {
    clear: both;
    padding: 10px;
}

.module {
    border: none;
    margin-bottom: 30px;
    background: #fff;
}

.module table {
    border-collapse: collapse;
    border-color: #ccc;
    width: 600px;
}

.module caption {
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0;
    padding: 8px;
    font-weight: 400;
    text-align: left;
    background: #90BEEC;
    color: #fff;
}

th {
    font-weight: 600;
    text-align: left;
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 8px;
}

.breadcrums {
    background: #79AEC8;
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: #C4DCE8;
    text-align: left;
}

.breadcrums a {
    color: #fff;
}

.object-tools {
    font-size: 10px;
    font-weight: bold;
    padding-left: 0;
    float: right;
    position: relative;
    margin-top: -48px;
}

.object-tools li {
    display: block;
    float: left;
    margin-left: 5px;
    height: 16px;
    list-style-type: square;
    padding: 1px 0;
    font-size: 13px;
    line-height: 20px;
}

.object-tools a {
    border-radius: 15px;
}

.object-tools a.addlink {
    background-repeat: no-repeat;
    background-position: right 7px center;
    padding-right: 26px;
    display: block;
    float: left;
    padding: 3px 12px;
    background: #999;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #fff;
    text-decoration: none;
}

.object-tools a:hover {
    background-color: #90BEEC;
}

.changelist {
    position: relative;
    width: 100%;
}

.module {
    border: none;
    margin-bottom: 30px;
    background: #fff;
}

.changelist-form .results {
    overflow-x: auto;
}

.changelist table {
    width: 100%;
    border-collapse: collapse;
    border-color: #ccc;
}

.changelist table thead th {
    padding: 0;
    white-space: nowrap;
    vertical-align: middle;
    line-height: normal;
    text-transform: uppercase;
    background: #f6f6f6;
    color: #666;
    font-size: 11px;
    border: none;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-weight: 600;
    text-align: left;
}

table thead th .text span {
    padding: 8px 10px;
    display: block;
}

.changelist .paginator {
    color: #666;
    border-bottom: 1px solid #eee;
    background: #fff;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.paginator {
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 22px;
    margin: 0;
    border-top: 1px solid #ddd;
}
