* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, div, p, span, em, small, a, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

img {
    vertical-align: top;
}

body, input, select, button, textarea {
    color: rgb(0, 0, 0);
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "Noto Sans", "Apple SD Gothic Neo", "애플 SD 산돌고딕 Neo", AppleGothic, "New Roboto", Roboto, -apple-system, system, BlinkMacSystemFont, "SF UI Text", "SF Pro Text", BlinkMacSystemFont, "Nanum Gothic", "나눔 고딕", "Malgun Gothic", "맑은 고딕", Dotum, 돋움, Gullim, 굴림, "droid sans fallback", "Droid Sans", "Segoe UI", "helvetica neue", Tahoma, "Microsoft Sans Serif", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: -0.02em;
}

.btn, a.btn {
    display: inline-block;
    width: auto;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.btn.btn-font-400, a.btn.btn-font-400 {
    font-weight: 400;
}

.btn.btn-size-1, a.btn.btn-size-1 {
    height: 100%;
    padding: 0px 1.5rem;
    font-size: 1.8rem;
    line-height: 3rem;
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 300;
    src: local("※"),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/eot/NotoSansKR-Light-Hestia.eot),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/eot/NotoSansKR-Light-Hestia.eot?#iefix) format('embedded-opentype'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/woff/NotoSansKR-Light-Hestia.woff) format('woff'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/otf/NotoSansKR-Light-Hestia.otf) format('opentype');
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    src: local("※"),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/eot/NotoSansKR-Regular-Hestia.eot),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/eot/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/woff/NotoSansKR-Regular-Hestia.woff) format('woff'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/otf/NotoSansKR-Regular-Hestia.otf) format('opentype');
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 500;
    src: local("※"),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/eot/NotoSansKR-Medium-Hestia.eot),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/eot/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/woff/NotoSansKR-Medium-Hestia.woff) format('woff'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/otf/NotoSansKR-Medium-Hestia.otf) format('opentype');
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 700;
    src: local("※"),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/eot/NotoSansKR-Bold-Hestia.eot),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/eot/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/woff/NotoSansKR-Bold-Hestia.woff) format('woff'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/otf/NotoSansKR-Bold-Hestia.otf) format('opentype');
}

.btn, a.btn {
    display: inline-block;
    width: auto;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.btn.btn-font-400, a.btn.btn-font-400 {
    font-weight: 400;
}

.btn.btn-size-1, a.btn.btn-size-1 {
    height: 100%;
    padding: 0px 1.5rem;
    font-size: 1.8rem;
    line-height: 3rem;
}

html {
    line-height: 1.5;
    text-size-adjust: none;
    overflow: hidden;
    overflow-y: scroll;
}

.project-detail-section {
    padding-left: calc((100vw - 1320px) / 2); /* Dynamic Padding */
    padding-right: calc((100vw - 1320px) / 2); /* Dynamic Padding */
}

.project-content-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1320px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.content-left {
    width: calc((100% + 16px)/12*7 - 16px);
    display: flex;
    position: relative;
    flex-direction: column;
}

.content-right {
    display: flex;
    flex-direction: column;
    width: calc((100% + 16px)*.375 - 8px);
}

.swiper {
    width: 100%;
    height: calc(100% * 16 / 9);
}

.swiper-slide {
    text-align: center;
    font-size: 10px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category {
    margin-top: 0;
    color: #868e96;
}

.category span {
    font-size: 18px;
}

.divider {
    margin: 16px 0;
    background-color: #b8b8b8;
    opacity: 1;
    height: 1px;
    border: 0;
    color: #000;
}

.right-project-title {
    font-size: 23px;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 10px;
    color: #212529;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.right-project-light-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 8px;
    word-wrap: break-word;
    color: #495057;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.right-project-participants {
    margin-top: 16px;
}

.right-each-participant {
    margin-bottom: 5px;
}

.each-participant-name p {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
}

.each-participant-role-email {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.each-participant-role-email > span {
    position: relative;
    display: inline-block;
    margin-right: 0.1rem;
    padding-right: 0.5rem;
}

.each-participant-role-email > span::after {
    position: absolute;
    top: 50%;
    right: 0px;
    display: block;
    width: 1px;
    height: 1rem;
    margin-top: -0.5rem;
    background: rgb(0, 0, 0);
    content: "";
}

.each-participant-role-email > span:last-child::after {
    display: none;
}

.project-git {
    position: relative;
    animation: none;
    z-index: 0;
    padding: 24px 0 0;
}

.project-git-button {
    height: 56px;
    line-height: 1.75;
    font-size: 18px;
    width: 100%;
    font-weight: 500;
    background-color: #fff;
    color: #000;
    padding: 9px 23px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #90BEEC;
    border-radius: 5px;
}

.project-git-button:hover {
    background-color: #90BEEC;
    color: white;
}

.button-children {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}

.project-description {
    margin-top: 3rem;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
}
