* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body, div, p, span, em, small, a, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

img {
    vertical-align: top;
}

body, input, select, button, textarea {
    color: rgb(0, 0, 0);
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "Noto Sans", "Apple SD Gothic Neo", "애플 SD 산돌고딕 Neo", AppleGothic, "New Roboto", Roboto, -apple-system, system, BlinkMacSystemFont, "SF UI Text", "SF Pro Text", BlinkMacSystemFont, "Nanum Gothic", "나눔 고딕", "Malgun Gothic", "맑은 고딕", Dotum, 돋움, Gullim, 굴림, "droid sans fallback", "Droid Sans", "Segoe UI", "helvetica neue", Tahoma, "Microsoft Sans Serif", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: -0.02em;
}

.btn, a.btn {
    display: inline-block;
    width: auto;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.btn.btn-font-400, a.btn.btn-font-400 {
    font-weight: 400;
}

.btn.btn-size-1, a.btn.btn-size-1 {
    height: 100%;
    padding: 0px 1.5rem;
    font-size: 1.8rem;
    line-height: 3rem;
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 300;
    src: local("※"),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/eot/NotoSansKR-Light-Hestia.eot),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/eot/NotoSansKR-Light-Hestia.eot?#iefix) format('embedded-opentype'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/woff/NotoSansKR-Light-Hestia.woff) format('woff'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/otf/NotoSansKR-Light-Hestia.otf) format('opentype');
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    src: local("※"),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/eot/NotoSansKR-Regular-Hestia.eot),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/eot/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/woff/NotoSansKR-Regular-Hestia.woff) format('woff'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/otf/NotoSansKR-Regular-Hestia.otf) format('opentype');
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 500;
    src: local("※"),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/eot/NotoSansKR-Medium-Hestia.eot),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/eot/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/woff/NotoSansKR-Medium-Hestia.woff) format('woff'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/otf/NotoSansKR-Medium-Hestia.otf) format('opentype');
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 700;
    src: local("※"),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/eot/NotoSansKR-Bold-Hestia.eot),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/eot/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/woff/NotoSansKR-Bold-Hestia.woff) format('woff'),
    url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/fonts/otf/NotoSansKR-Bold-Hestia.otf) format('opentype');
}

.btn, a.btn {
    display: inline-block;
    width: auto;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.btn.btn-font-400, a.btn.btn-font-400 {
    font-weight: 400;
}

.btn.btn-size-1, a.btn.btn-size-1 {
    height: 100%;
    padding: 0px 1.5rem;
    font-size: 1.8rem;
    line-height: 3rem;
}

html {
    line-height: 1.5;
    text-size-adjust: none;
    overflow: hidden;
    overflow-y: scroll;
}

.slide-main {
    position: relative;
    z-index: 1; /* Optional, ensures .slide-main has a lower stacking context than .sub-wrap */
}

/* Slider for Banner */
.slide {
    /* layout */
    display: flex;
    flex-wrap: nowrap;
    /* 컨테이너의 내용물이 컨테이너 크기(width, height)를 넘어설 때 보이지 않도록 하기 위해 hidden을 준다. */
    overflow: hidden;

    /* position */
    /* slide_button의 position absolute가 컨테이너 안쪽에서 top, left, right offset이 적용될 수 있도록 relative를 준다. (기본값이 static인데, static인 경우 그 상위 컨테이너로 나가면서 현재 코드에선 html을 기준으로 offset을 적용시키기 때문) */
    position: relative;

    /* size */
    width: 100%;

    /* slide drag를 위해 DOM요소가 드래그로 선택되는것을 방지 */
    user-select: none;
}
.slide_item {
    /* layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* position - 버튼 클릭시 left offset값을 적용시키기 위해 */
    position: relative;
    left: 0px;

    /* size */
    width: 100%;
    height: 450px;
    /* flex item의 flex-shrink는 기본값이 1이므로 컨테이너 크기에 맞게 줄어드는데, 슬라이드를 구현할 것이므로 줄어들지 않도록 0을 준다. */
    flex-shrink: 0;

    /* transition */
    transition: left 0.3s, width 0.3s;
}
.slide_button {
    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;

    /* position */
    position: absolute;
    top: calc(50% - 16px); /* Center vertically */

    /* size */
    width: 36px;
    height: 36px;

    /* style */
    background-size: cover;
    cursor: pointer;
    z-index: 2; /* Ensure it's above the slide items */
}

.slide_prev_button {
    left: 0;
    background-image: url("images/arr-left-circle.png");
    background-color: transparent;
}

.slide_next_button {
    right: 0;
    background-image: url("images/arr-right-circle.png");
    background-color: transparent;
}

/* 각 슬라이드가 변경되는 것을 시각적으로 확인하기 쉽도록 각 슬라이드별 색상 적용 */
.slide_item.item1 {
    background:url("images/mokup3.png")
}
.slide_item.item2 {
    background:url("images/mokup4.png")
}
.slide_item.item3 {
    background-color: blueviolet;
}
.slide_item.item4 {
    background-color: burlywood;
}
.slide_item.item5 {
    background-color: cornflowerblue;
}

/* 페이지네이션 스타일 */
ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.slide_pagination {
    /* layout */
    display: flex;
    gap: 5px;

    /* position */
    position: absolute;
    bottom: 0;
    /* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
    left: 50%;
    transform: translateX(-50%);
}
.slide_pagination > li {
    /* 현재 슬라이드가 아닌 것은 투명도 부여 */
    color: #7fb5ff88;
    cursor: pointer;
    font-size: 25px;
}
.slide_pagination > li.active {
    /* 현재 슬라이드 색상은 투명도 없이 */
    color: #7fb5ff;
}

.slide_item_duplicate {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    transition: left 0.15s;
}

/* Projects overview  */
.projects-overview-carousel {
    position: relative;
    margin-top: 3rem;
}

.projects-overview-carousel {
    padding-left: calc((100vw - 1320px) / 2); /* Dynamic Padding */
    padding-right: calc((100vw - 1320px) / 2); /* Dynamic Padding */
}

.overview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.proj-overview-title .title {
    font-size: 1.8rem;
    line-height: 4rem;
    font-weight: 500;
}

.btn.btn-blue, a.btn.btn-blue {
    background-color: #90BEEC;
    color: #ffffff;
}

.swiper img {
    max-width: 100%;
}

.projects-overview-carousel .swiper-slide {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(180, 180, 180);
}

.projects-overview-carousel .swiper-slide .textbox {
    padding: 0.5rem 0.5rem 0px;
    border-top: 1px solid rgb(180, 180, 180);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tags {
    line-height: 1.6rem;
}

.tags > span {
    display: inline-block;
    margin-right: 0.5rem;
    padding: 0px 1rem;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-radius: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    vertical-align: center;
}

.tags > span:last-child {
    margin-right: 0px;
}

.swiper-slide * {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.swiper-slide .textbox .title {
    display: block;
    margin-top: 0.2rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.swiper-slide .textbox .team-members {
    display: block;
    font-size: 1rem;
    line-height: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.swiper-slide .textbox .team-members > span {
    position: relative;
    display: inline-block;
    margin-right: 0.1rem;
    padding-right: 0.5rem;
}

.swiper-slide .textbox .team-members > span::after {
    position: absolute;
    top: 50%;
    right: 0px;
    display: block;
    width: 1px;
    height: 1rem;
    margin-top: -0.5rem;
    background: rgb(0, 0, 0);
    content: "";
}

.swiper-slide .textbox .team-members > span:last-child::after {
    display: none;
}

.swiper-button-prev, .swiper-button-next {
    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;

    /* position */
    position: absolute;
    top: calc(50% - 16px); /* Center vertically */

    /* size */
    width: 36px;
    height: 36px;

    /* style */
    background-size: cover;
    cursor: pointer;
    z-index: 2; /* Ensure it's above the slide items */

}

.swiper-button-prev:after,
.swiper-button-next:after {
    display: none;
}

.swiper-button-prev {
    background-image: url("images/arr-left-circle.png");
    background-color: transparent;
}

.swiper-button-next {
    background-image: url("images/arr-right-circle.png");
    background-color: transparent;
}
