<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Site Administration | KCU site admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/adminPage.css">

    <link rel="icon" type="image/x-icon" href="/images/logo.png">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
<div class="container">
    <!-- Header -->
    <div class="header">
        <div class="branding">
            <h1 class="site-name-big">
                <a href="/admin">KCU Administration</a>
            </h1>
        </div>

        <div class="user-tools">
            WELCOME, <span th:text="${username}"></span>.
            <a href="/">VIEW SITE</a>
            /
            <a href="/logout">LOG OUT</a>
        </div>
    </div>
    <!-- End Header -->
    <div class="breadcrums">
        <a href="/admin">Home</a>
        ›
        <a>KCU Database</a>
        ›
        <a th:href="@{/admin/{tableName}(tableName=${tableName})}" th:text="${#strings.capitalize(tableName)}"></a>
        <span th:text="'› '"></span>
        <span th:text="${entity.name}"></span>
    </div>
    <!-- Content -->
    <div class="content flex">
        <h1 th:text="'Edit ' + ${tableName}"></h1>

        <!-- Participants Form -->
        <div th:if="${tableName == 'Participants'}">
            <form th:action="@{/admin/participants/{participantId}/change(participantId=${entity.id})}"
                  th:object="${entity}" method="post" class="module aligned">

                <div class="form-row field-id">
                    <label class="required" for="participantId">
                        Participant ID:
                    </label>
                    <input type="text" id="participantId" th:value="${entity.id}" readonly class="vTextField"/>
                </div>
                <div class="form-row field-name">
                    <label for="name" class="required">Name:</label>
                    <input type="text" id="name" th:field="*{name}" class="vTextField"/>
                </div>
                <div class="form-row field-role">
                    <label for="role" class="required">Role:</label>
                    <input type="text" id="role" th:field="*{role}" class="vTextField"/>
                </div>
                <div class="form-row field-email">
                    <label for="email" class="required">Email:</label>
                    <input type="email" id="email" th:field="*{email}" class="vTextField"/>
                </div>

                <div class="form-row field-semester">
                    <label for="semester" class="required">Semester:</label>
                    <select id="semester" name="semesterId">
                        <option value="">Select Semester</option>
                        <option th:each="semester : ${semesters}"
                                th:value="${semester.id}"
                                th:text="${semester.name}"
                                th:selected="${selectedSemesterId == semester.id}">
                        </option>
                    </select>
                </div>


                <div class="form-row field-project">
                    <label for="project" class="required">Project:</label>
                    <select id="project" name="projectId">
                        <option th:each="project : ${projectsInSemester}"
                                th:value="${project.id}"
                                th:text="${project.name}"
                                th:selected="${project.id == entity.projectId}">
                        </option>
                    </select>
                </div>

                <div class="submit-row-addchange">
                    <input class="default" type="submit" value="Save" name="_save"/>
                    <input type="hidden" id="id" name="id" th:value="${entity.id}"/>
                    <p class="deletelink-box">
                        <a class="deletelink" th:href="@{/admin/{tableName}/{participantId}/delete(tableName=${tableName}, participantId=${entity.id})}">Delete</a>
                    </p>
                </div>

                <div>
                </div>
            </form>
        </div>
        <!-- END Participants Form -->


        <!-- Semesters Form -->
        <div th:if="${tableName == 'Semesters'}">
            <form th:action="@{/admin/semesters/{semesterId}/change(semesterId=${entity.id})}"
                  th:object="${entity}" method="post" class="module aligned">

                <div class="form-row field-id">
                    <label class="required" for="semesterId">
                        Semester ID:
                    </label>
                    <input type="text" id="semesterId" th:value="${entity.id}" readonly class="vTextField"/>
                </div>
                <div class="form-row field-term">
                    <label class="required" for="term">Term:</label>
                    <select id="term" name="term">
                        <option value="FA" th:selected="${term == 'FA'}">Fall (FA)</option>
                        <option value="SP" th:selected="${term == 'SP'}">Spring (SP)</option>
                    </select>
                </div>
                <div class="form-row field-year">
                    <label for="year" class="required">Year:</label>
                    <input type="text" id="year" name="year" th:value="${year}" pattern="\d{2}" title="Two digit year" maxlength="2" required/>
                </div>

                <div class="submit-row-addchange">
                    <input class="default" type="submit" value="Save" name="_save"/>
                    <input type="hidden" id="IdForVerifying" name="id" th:value="${entity.id}"/>
                    <p class="deletelink-box">
                        <a class="deletelink" th:href="@{/admin/{tableName}/{semesterId}/delete(tableName=${tableName}, semesterId=${entity.id})}">Delete</a>
                    </p>
                </div>

                <div>
                </div>
            </form>
        </div>
        <!-- END Semesters Form -->


        <!-- GetInvolved Form -->
        <div th:if="${tableName == 'GetInvolved'}">
            <form th:action="@{/admin/getinvolved/{involvedId}/change(involvedId=${entity.id})}"
                  th:object="${entity}" method="post" class="module aligned">

                <div class="form-row field-id">
                    <label class="required" for="involvedId">
                        Get Involved ID:
                    </label>
                    <input type="text" id="involvedId" th:value="${entity.id}" readonly class="vTextField"/>
                </div>

                <div class="form-row field-term">
                    <label class="required" for="involvedName">Name:</label>
                    <input type="text" id="involvedName" name="involvedName" th:value="${entity.name}" class="vTextField"/>
                </div>

                <div class="form-row field-date">
                    <label for="startDate" class="required">Form Start Date:</label>
                    <input type="date" id="startDate" name="startDate" th:value="${entity.startDate}" value="2024-04-23" required/>
                </div>

                <div class="form-row field-date">
                    <label for="endDate" class="required">Form End Date:</label>
                    <input type="date" id="endDate" name="endDate" th:value="${entity.endDate}" value="2024-04-23" required/>
                </div>

                <div class="form-row field-year">
                    <label for="formLink" class="required">Form Link:</label>
                    <input type="url" id="formLink" name="formLink" th:value="${entity.link}" required/>
                </div>

                <div class="submit-row-addchange">
                    <input class="default" type="submit" value="Save" name="_save"/>
                    <input type="hidden" id="IdForInvolvedVerifying" name="id" th:value="${entity.id}"/>
                </div>

                <div>
                </div>
            </form>
        </div>
        <!-- END GetInvolved Form -->
    </div>
    <!-- END Content -->
</div>

</body>
</html>
