<!DOCTYPE html>
<html>
<body>
  <div th:fragment="foot">
    <footer>
      <div class="footer-container">
        <div class="footer-logo">
          <img src="/images/logo.png" class="footer-logo-img">
        </div>
        <div class="footer-content">
          <h4>Korean Undergraduate Computer Science Union<br>at University of Wisconsin - Madison</h4>
          <p>Instagram: <a href="https://www.instagram.com/kcu_madison/" target="_blank">@kcu_madison</a></p>
          <p>Linktree: <a href="https://linktr.ee/kcu1" target="_blank">linktr.ee/kcu1</a></p>
        </div>
      </div>

      <div class="footer-bottom">
        <p>Copyright &copy; KCU All Rights Reserved.</p>
      </div>
    </footer>
  </div>
</body>
</html>
