<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to KCU!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/footer.css">

    <link rel="icon" type="image/x-icon" href="/images/logo.png">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</head>

<body>
    <section id="container" class="page-index">
        <!-- Header -->
        <div th:insert="~{header :: head}"></div>

        <!-- Banner -->
        <div class="slide-main">
            <div class="slide slide_wrap">
                <div class="slide_item item1"></div>
                <div class="slide_item item2"></div>
                <div class="slide_item item3">3</div>
                <div class="slide_item item4">4</div>
                <div class="slide_item item5">5</div>
                <div class="slide_prev_button slide_button"></div>
                <div class="slide_next_button slide_button"></div>
                <ul class="slide_pagination"></ul>
            </div>
        </div>

        <!-- Projects Overview Carousel -->
        <section class="projects-overview-carousel">
            <div class="overview-header">
                <div class="proj-overview-title">
                    <h2 class="title">Projects Overview - <span th:text="${latestSemesterName}"></span></h2>
                </div>

                <div class="proj-overview-viewmore">
                    <a href="/projects" class="btn btn-size-1 btn-font-400 btn-blue">View More</a>
                </div>
            </div>


            <div class="swiper">
                <div class="swiper-wrapper">
                    <div th:each="projectDTO : ${projectDTOs}" class="swiper-slide">
                        <a th:href="@{/projects/{semesterName}/{projectId}(semesterName=${latestSemesterName}, projectId=${projectDTO.id})}">
                            <img th:src="@{${projectDTO.images_link1}}" alt="Project Image">
                        </a>
                        <div class="textbox">
                            <div class="tags">
                                <span th:class="${projectDTO.level == 'Advanced' ? 'advanced' : (projectDTO.level == 'Intermediate' ? 'intermediate' : 'novice')}" th:text="${projectDTO.level}"></span>
                            </div>
                            <a th:href="@{/projects/{semesterName}/{projectId}(semesterName=${latestSemesterName}, projectId=${projectDTO.id})}" th:text="${projectDTO.name}" class="title"></a>
                            <div class="team-members">
                                <span th:each="name : ${projectDTO.participantNames}" th:text="${name}"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>

        <!-- Footer -->
        <div th:insert="~{footer :: foot}"></div>
    </section>
</body>

<script type="text/javascript" src="/script.js"></script>
</html>
