<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to KCU!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
<header class="main-header">
    <div class="logo-container">
        <a href="/"><img src="logo.png" alt="KCU LOGO" class="logo"></a>
        <a href="/">KCU</a>
    </div>
    <nav id="gnbWrap">
        <ul class="gnb">
            <li>
                <a href="">About</a>
                <div class="sub-wrap">
                    <ul>
                        <li><a href="">About KCU</a></li>
                        <li><a href="">Leaders</a></li>
                        <li><a href="">Website Developers</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="">Get Involved</a>
            </li>
            <li>
                <a href="">Projects</a>
            </li>
        </ul>
    </nav>
</header>
</body>

<script src="/script.js"></script>
</html>
