<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to KCU!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="websiteDevelopers.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="footer.css">

    <link rel="icon" type="image/x-icon" href="images/logo.png">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</head>

<body>
<section id="container" class="page-index">
    <!-- Header -->
    <div th:insert="~{header :: head}"></div>

    <section class="leaders-section">
        <div class="leaders-title">
            <h1>Leaders</h1>
        </div>

        <div th:each="leader : ${leaders}" class="about-leaders">
            <div class="leader-image">
                <img th:src="@{${leader.imageLink}}" class="profile">
            </div>
            <div class="leader-contents">
                <div th:text="${leader.name}" class="leader-name"></div>
                <div class="leader-semesters">
                    <span th:text="${leader.startSemester} + ' - ' + ${leader.endSemester}"></span>
                    <span>
                        <a th:href="'mailto:' + ${leader.email}" th:text="${leader.email}"></a>
                    </span>
                </div>
                <div class="leader-description">
                    <a th:text="${leader.introduction}"></a>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <div th:insert="~{footer :: foot}"></div>
</section>
</body>

<script type="text/javascript" src="/script.js"></script>
</html>
