<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to KCU!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/projectDetail.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/footer.css">

    <link rel="icon" type="image/x-icon" href="/images/logo.png">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>

<body>
    <section id="container" class="page-index">
        <!-- Header -->
        <div th:insert="~{header :: head}"></div>

        <section class="project-detail-section">
            <div class="project-content-wrapper">
                <div class="content-left">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" th:each="imageLink : ${projectDTO.imagesLink}">
                                <img th:src="${imageLink}">
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <div class="content-right">
                    <div class="category">
                        <div class="category-line">
                            <span aria-label="semester">
                                <a class="semester-category" th:href="@{/projects/{semesterName}(semesterName=${projectDTO.semesterName})}" th:text="${projectDTO.semesterName}" data-ga-action="click"></a>
                            </span>
                            <span> - </span>
                            <span aria-label="level" th:class="${projectDTO.level == 'Advanced' ? 'advanced' : (projectDTO.level == 'Intermediate' ? 'intermediate' : 'novice')}" th:text="${projectDTO.level}"></span>
                        </div>
                        <span aria-label="languages" style="font-size: 15px" th:text="${projectDTO.languagesPlatforms}"></span>
                    </div>
                    <hr class="divider">
                    <p class="right-project-title" th:text="${projectDTO.name}"></p>
                    <p class="right-project-light-description" th:text="${projectDTO.shortDescription}"></p>
                    <div class="right-project-participants">
                        <div class="right-each-participant" th:each="participant : ${projectDTO.participants}">
                            <div class="each-participant-name">
                                <p th:text="${participant.name}"></p>
                            </div>
                            <div class="each-participant-role-email">
                                <span th:text="${participant.role}">

                                </span>
                                <span>
                                    <a th:href="'mailto:' + ${participant.email}" th:text="${participant.email}"></a>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="project-git">
                        <button class="btn project-git-button btn-primary" type="button" th:attr="onclick=|window.open('${projectDTO.githubLink}', '_blank')|">
                            <span class="button-children">
                                <p>GitHub Link</p>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="project-description">
                <p th:utext="${projectDTO.longDescription}"></p>
            </div>
        </section>

        <!-- Footer -->
        <div th:insert="~{footer :: foot}"></div>
    </section>

    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 30,
            loop: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

        // js가 load가 안 돼서 우선 html에 js코드 작성. 추후 고칠 예정
        // Header 구현
        const gnbLi = document.querySelectorAll('.gnb > li');
        const subMenu = document.querySelectorAll('.sub-wrap');

        for(let i = 0; i < gnbLi.length; i++){
            gnbLi[i].addEventListener('mouseover', function() {
                subMenu[i].classList.add('active');
            });
        }

        for(let i = 0; i < gnbLi.length; i++){
            gnbLi[i].addEventListener('mouseleave', function() {
                subMenu[i].classList.remove('active')
            });
        }

        gnbLi.forEach((li, index) => {
            li.addEventListener('mouseover', function() {
                subMenu[index].classList.add('active');
                document.querySelector('.main-header').classList.add('no-border');
            });

            li.addEventListener('mouseleave', function() {
                subMenu[index].classList.remove('active');
                document.querySelector('.main-header').classList.remove('no-border');
            });
        });
    </script>
</body>

<script type="text/javascript" src="/script.js"></script>
</html>
