<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to KCU!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/projects.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/footer.css">

    <link rel="icon" type="image/x-icon" href="/images/logo.png">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
    <section id="container" class="page-index">
        <!-- Header -->
        <div th:insert="~{header :: head}"></div>

        <section class="projects-section">
            <div class="projects-title">
                <h1>Projects</h1>
            </div>

            <div class="selectbox-container">
                <div class="select">
                    <select onchange="redirectToProject(this.options[this.selectedIndex].text);">
                        <option th:each="semester : ${semesters}" th:value="${semester.id}" th:text="${semester.name}"></option>
                    </select>
                </div>
            </div>

            <div th:each="projectDTO : ${projectDTOs}" class="projects-overview">
                <div th:href="@{/projects/{semesterName}/{projectId}(semesterName=${semesterName}, projectId=${projectDTO.id})}" class="project-image">
                    <a th:href="@{/projects/{semesterName}/{projectId}(semesterName=${semesterName}, projectId=${projectDTO.id})}">
                        <img th:src="${projectDTO.images_link1}" class="projimage">
                    </a>
                </div>
                <div class="project-contents">
                    <div class="project-name">
                        <a th:href="@{/projects/{semesterName}/{projectId}(semesterName=${semesterName}, projectId=${projectDTO.id})}" th:text="${projectDTO.name}"></a>
                    </div>
                    <div class="project-difficulty-language">
                        <span th:class="${projectDTO.level == 'Advanced' ? 'advanced' : (projectDTO.level == 'Intermediate' ? 'intermediate' : 'novice')}" th:text="${projectDTO.level}"></span>
                        <span th:text="${projectDTO.languagesPlatforms}"></span>
                    </div>
                    <div class="project-description">
                        <a th:text="${projectDTO.shortDescription}"></a>
                    </div>
                    <div class="project-participant-names">
                        <ul>
                            <li th:each="name : ${projectDTO.participantNames}" th:text="${name}"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <div th:insert="~{footer :: foot}"></div>
    </section>

    <script>
        function redirectToProject(semesterName) {
            console.log(semesterName);
            if(semesterName) {
                window.location.href = '/projects/' + semesterName;
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            // 현재 URL에서 학기 이름을 추출
            const semesterName = window.location.pathname.split('/').pop();

            // <select> 엘리먼트를 찾음
            const selectElement = document.querySelector('select');

            // <select>의 모든 <option>을 순회하며 현재 학기와 일치하는 옵션을 찾아 선택함
            for (let option of selectElement.options) {
                if (option.text === semesterName) {
                    selectElement.value = option.value;
                    break; // 일치하는 옵션을 찾았으므로 반복 중지
                }
            }
        });
    </script>
</body>

<script type="text/javascript" src="/script.js"></script>
</html>
