<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to KCU!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="websiteDevelopers.css">

    <link rel="icon" type="image/x-icon" href="logo.png">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</head>

<body>
<section id="container" class="page-index">
    <!-- Header -->
    <header id="header" class="main-header">
        <div class="logo-container">
            <a href="/"><img src="logo.png" alt="KCU LOGO" class="logo"></a>
            <a href="/">KCU</a>
        </div>
        <nav id="gnbWrap">
            <ul class="gnb">
                <li>
                    <a href="">About</a>
                    <div class="sub-wrap">
                        <ul>
                            <li><a href="/aboutkcu">About KCU</a></li>
                            <li><a href="/leaders">Leaders</a></li>
                            <li><a href="/developers">Website Developers</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="/getinvolved">Get Involved</a>
                </li>
                <li>
                    <a href="/projects">Projects</a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="developers-section">
        <div class="developers-title">
            <h1>Website Developers</h1>
        </div>

        <div class="about-developers">
            <div class="developer-image">
                <img src="dummy_profile.jpg" class="profile">
            </div>
            <div class="developer-contents">
                <div class="developer-name">
                    Daeyeon Kim
                </div>
                <div class="developer-role">
                    <span>
                        Backend Developer
                    </span>
                    <span>
                        <a href="mailto:lee2386@wisc.edu">lee2386@wisc.edu</a>
                    </span>
                </div>
                <div class="developer-description">
                    <a>
                        Introduce yourself (Max 500 characters): Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque placerat interdum gravida. Aliquam sed cursus diam, et pulvinar nisi. Fusce vehicula quam metus, ac sagittis risus dictum non. Fusce id accumsan sem, eu sodales ipsum. Suspendisse porttitor nibh sed gravida eleifend. Etiam suscipit vel urna ac porttitor. Etiam metus sapien, ullamcorper vitae facilisis eu, faucibus ac ante. Pellentesque eu euismod nisi. Aliquam interdum mauris a efficitur volutpat. Vivamus interdum arcu dui eu.
                    </a>
                </div>
            </div>
        </div>

        <div class="about-developers">
            <div class="developer-image">
                <img src="dummy_profile.jpg" class="profile">
            </div>
            <div class="developer-contents">
                <div class="developer-name">
                    Eunseo Choi
                </div>
                <div class="developer-role">
                    <span>
                        Frontend Developer
                    </span>
                    <span>
                        <a href="mailto:lee2386@wisc.edu">echoi54@wisc.edu</a>
                    </span>
                </div>
                <div class="developer-description">
                    <a>
                        Introduce yourself (Max 500 characters): Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque placerat interdum gravida. Aliquam sed cursus diam, et pulvinar nisi. Fusce vehicula quam metus, ac sagittis risus dictum non. Fusce id accumsan sem, eu sodales ipsum. Suspendisse porttitor nibh sed gravida eleifend. Etiam suscipit vel urna ac porttitor. Etiam metus sapien, ullamcorper vitae facilisis eu, faucibus ac ante. Pellentesque eu euismod nisi. Aliquam interdum mauris a efficitur volutpat. Vivamus interdum arcu dui eu.
                    </a>
                </div>
            </div>
        </div>

        <div class="about-developers">
            <div class="developer-image">
                <img src="junseo_image.jpg" class="profile">
            </div>
            <div class="developer-contents">
                <div class="developer-name">
                    Junseo Lee
                </div>
                <div class="developer-role">
                    <span>
                        Fullstack Developer
                    </span>
                    <span>
                        <a href="mailto:lee2386@wisc.edu">lee2386@wisc.edu</a>
                    </span>
                </div>
                <div class="developer-description">
                    <a>
                        Introduce yourself (Max 500 characters): Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque placerat interdum gravida. Aliquam sed cursus diam, et pulvinar nisi. Fusce vehicula quam metus, ac sagittis risus dictum non. Fusce id accumsan sem, eu sodales ipsum. Suspendisse porttitor nibh sed gravida eleifend. Etiam suscipit vel urna ac porttitor. Etiam metus sapien, ullamcorper vitae facilisis eu, faucibus ac ante. Pellentesque eu euismod nisi. Aliquam interdum mauris a efficitur volutpat. Vivamus interdum arcu dui eu.
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <section>
        <footer>
            <div class="footer-container">
                <div class="footer-logo">
                    <img src="logo.png" class="footer-logo-img">
                </div>
                <div class="footer-content">
                    <h4>Korean Undergraduate Computer Science Union<br>at University of Wisconsin - Madison</h4>
                    <p>Instagram: <a href="https://www.instagram.com/kcu_madison/" target="_blank">@kcu_madison</a></p>
                    <p>LinkTree: <a href="https://linktr.ee/kcu1" target="_blank">linktr.ee/kcu1</a></p>
                </div>
            </div>

            <div class="footer-bottom">
                <p>Copyright &copy; KCU All Rights Reserved.</p>
            </div>

        </footer>
    </section>
</section>
</body>

<script type="text/javascript" src="/script.js"></script>
</html>
